body{
    background-color:rgba(0,0,0,0.9);
    box-sizing: border-box;
}
h1{
    color:beige;
    text-align:center;
}
.container{
    display:flex; 
    gap:10%;  
    justify-content: center;

}
.slot1{
    background-color:#131200;
    height:150px;
    width:350px;
}
.slot2 {
    background-color: #131200;
    height:150px;
    width:350px;
}
.slot3 {
    background-color: #131200;
    height:150px;
    width:350px;
}
.slot4 {
    position: relative;
    background-color: #131200;
    width:150px;
    height:350px;
}
.right-container > * {
    margin-bottom:20px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size:1.5rem;

}
span{
    display:block;
    background-color: crimson;
    color:#F0EFF4;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:150px;;
}
.s1-status{
    background-color:green;
}