<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{url_for('static',filename='scripts/script.js')}}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THE PARKING SPACE</h1>
    <div class="container">
        <div class="right-container">
            <div class="slot1">SLOT 1</div>
            <div class="slot2">SLOT 2</div>
            <div class="slot3">SLOT 3</div>
        </div>
        <div class="left-container">
            <div class="slot4">SLOT 4</div>
            <div class="slot5">SLOT 5</div>
        </div>
    </div>
</body>
</html>